body {
  display: flex;
}

#memory-game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#memory-status {
  margin-bottom: 10px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 2px solid #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: dodgerblue;
  color: white;
}

.card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

#tic-tac-toe {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.cell.x, .cell.o {
    cursor: not-allowed;
}

.cell.x::before {
    content: 'X';
}

.cell.o::before {
    content: 'O';
}
